@model IEnumerable<DragonSushiSystem.ViewModels.ViewModelCliente>

@{
    ViewBag.Title = "Lista de Clientes";
}

<section class="tela-lista-section cliente-index">
    <nav class="menu-vertical cliente">
        <a class="menu-vertical--links" href="@Url.Action("CadastrarCliente", "ViewModelCliente")">Cadastrar Cliente</a>
        <a class="menu-vertical--links atual" href="@Url.Action("ListarCliente", "ViewModelCliente")">Consultar Cliente</a>
    </nav>
    <div class="lista-table cliente">
        <div class="lista-index-table cliente-table">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Endereço</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Cliente.ClienteID</td>
                            <td>@item.Cliente.ClienteNome</td>
                            <td>@item.Cliente.ClienteTelefone</td>
                            <td>@item.Endereco.Logradouro, @item.Cliente.ClienteNumeroEndereco @item.Cliente.ClienteComplemento</td>
                            <td><button class="btnAzul btnEditar">@Html.ActionLink("Editar", "EditarCliente", new { id = item.Cliente.ClienteID })</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
