@model DragonSushiSystem.Models.Funcionario

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    @Styles.Render("~/Content/login.css")
    @Styles.Render("~/Content/input.css")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <section class="login-section">
        <div class="login">
            <div class="login-logo">
                <img src="~/images/DRAGONSUHIEMBAIXO.svg">
            </div>
            <div class="login-form">
                <h3>Login</h3>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="input-class">
                        @Html.EditorFor(model => model.FuncionarioCPF, new { htmlAttributes = new { @placeholder = "CPF" } })
                    </div>
                    <div class="input-class">
                        @Html.EditorFor(model => model.FuncionarioSenha, new { htmlAttributes = new { @type = "password", @placeholder = "Senha" } })
                        <br />
                        <a href="#">Esqueci minha senha</a>
                    </div>
                    <button class="btnAzul" type="submit">Entrar</button>
                }
            </div>
        </div>
    </section>
</body>
</html>
