@model IEnumerable<DragonSushiSystem.Models.Produto>

@{
    ViewBag.Title = "Lista de Produtos";
}

<section class="lista-tela prato">
    <nav class="menu-vertical prato">
        <a class="menu-vertical--links atual" href="@Url.Action("ListarProduto", "Produto")">Gerenciar estoque</a>
        <a class="menu-vertical--links" href="@Url.Action("ListarPratos", "ViewModelPrato")">Gerenciar pratos</a>
    </nav>
    <div class="lista-tela--conteudo">
        <div class="cabecalho">
    
            <a class="adicionar-prato btnVermelho" href="@Url.Action("CadastrarProduto", "Produto")">
                <p>Adicionar</p>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     aria-hidden="true" role="img" width="20" height="20" preserveAspectRatio="xMidYMid meet"
                     viewBox="0 0 24 24">
                    <g fill="none">
                        <path d="M12 20v-8m0 0V4m0 8h8m-8 0H4" stroke="white" stroke-width="2"
                              stroke-linecap="round" />
                    </g>
                </svg>
            </a>
        </div>

        <div class="tabela-item">
            <div class="tabela-item-header">
                <div class="tabela-item-codigo">
                    <p>#</p>
                </div>
                <div class="tabela-item-nome">
                    <p>Nome</p>
                </div>
                <div class="tabela-item-descricao">
                    <p>Descrição</p>
                </div>
                <div class="tabela-item-quantidade">
                    <p>Quantidade</p>
                </div>
                <div class="tabela-item-status">
                    <p>Status</p>
                </div>
                <div class="tabela-item-dropdown">

                </div>
            </div>
            @foreach(var item in Model)
            {

                <div class="tabela-item-body">
                    <div class="linha">
                        <div class="tabela-item-codigo">
                            <span>@item.ProdutoID</span>
                        </div>
                        <div class="tabela-item-nome">
                            <span>@item.ProdutoNome</span>
                        </div>
                        <div class="tabela-item-descricao">
                            <span>@item.ProdutoDescricaoShortened... </span>
                        </div>
                        <div class="tabela-item-quantidade">
                            <span>@item.ProdutoQuantidade</span>
                        </div>
                        @if (item.ProdutoQuantidade <= 10)
                        {
                            <div class="tabela-item-status vermelho">
                                <div class="circulo">

                                </div>
                                <span class="status">Em falta</span>
                            </div>
                        }
                        @if ((item.ProdutoQuantidade <= 70) && (item.ProdutoQuantidade > 10))
                        {
                            <div class="tabela-item-status amarelo">
                                <div class="circulo">

                                </div>
                                <span class="status">Acabando</span>
                            </div>
                        }
                        @if (item.ProdutoQuantidade > 70)
                        {
                            <div class="tabela-item-status verde">
                                <div class="circulo">

                                </div>
                                <span class="status">Normal</span>
                            </div>
                        }


                        <div class="tabela-item-dropdown">
                            <svg width="18" height="18" viewBox="0 0 40 22" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.66384 0L0 1.66384L14.4531 16.117L15.2845 16.9113L16.1158 16.117L30.5689 1.66384L28.9062 0.00115561L15.2856 13.6218L1.66384 0Z"
                                      fill="#000" />
                            </svg>
                        </div> 
                    </div>
                    @using (Html.BeginForm())
                    {
                        <div class="dropdown">
                            <div class="dropdown-inputs um">
                                <label class="label-lista" for="estoque-lista-codigo">Código</label>
                                <input type="text" class="input-lista" name="estoque-lista-codigo" value="@item.ProdutoID" disabled>
                            </div>
                            <div class="dropdown-inputs dois">
                                <label class="label-lista" for="estoque-lista-nome">Nome</label>
                                <input type="text" class="input-lista" name="estoque-lista-nome" value="@item.ProdutoNome" disabled>
                            </div>
                            <div class="dropdown-inputs tres">
                                <label class="label-lista" for="estoque-lista-descricao">Descrição</label>
                                <textarea class="input-lista" name="estoque-lista-descricao" value="@item.ProdutoDescricao" disabled>@item.ProdutoDescricao</textarea>
                            </div> 
                            <div class="dropdown-inputs quatro">
                                <label class="label-lista" for="estoque-lista-preco">Preço</label>
                                <input type="text" class="input-lista" name="estoque-lista-preco" value="@item.ProdutoPreco" disabled>
                            </div>
                            <div class="dropdown-inputs cinco">
                                <label class="label-lista" for="estoque-lista-quantidade">Quantidade</label>
                                <input type="text" class="input-lista" name="estoque-lista-preco" value="@item.ProdutoQuantidade" disabled>
                            </div>

                            <div class="dropdown-buttons">
                                <a href="@Url.Action("EditarProduto", "Produto", new { id = item.ProdutoID })">
                                    <svg id="editar" width="18" height="18" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.7531 2.16059C22.8932 2.30117 22.9719 2.49158 22.9719 2.69009C22.9719 2.8886 22.8932 3.07901 22.7531 3.21959L21.1886 4.78559L18.1886 1.78559L19.7531 0.21959C19.8937 0.0789866 20.0844 0 20.2833 0C20.4822 0 20.6729 0.0789866 20.8136 0.21959L22.7531 2.15909V2.16059ZM20.1281 5.84459L17.1281 2.84459L6.90856 13.0656C6.82601 13.1481 6.76386 13.2488 6.72706 13.3596L5.51956 16.9806C5.49766 17.0466 5.49455 17.1174 5.51058 17.1851C5.52661 17.2528 5.56114 17.3146 5.61032 17.3638C5.6595 17.413 5.72139 17.4475 5.78907 17.4636C5.85675 17.4796 5.92755 17.4765 5.99356 17.4546L9.61456 16.2471C9.72521 16.2107 9.82587 16.1491 9.90856 16.0671L20.1281 5.84609V5.84459Z"
                                              fill="#777777" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M1 19.5005C1 20.0972 1.23705 20.6695 1.65901 21.0915C2.08097 21.5134 2.65326 21.7505 3.25 21.7505H19.75C20.3467 21.7505 20.919 21.5134 21.341 21.0915C21.7629 20.6695 22 20.0972 22 19.5005V10.5005C22 10.3016 21.921 10.1108 21.7803 9.97016C21.6397 9.82951 21.4489 9.75049 21.25 9.75049C21.0511 9.75049 20.8603 9.82951 20.7197 9.97016C20.579 10.1108 20.5 10.3016 20.5 10.5005V19.5005C20.5 19.6994 20.421 19.8902 20.2803 20.0308C20.1397 20.1715 19.9489 20.2505 19.75 20.2505H3.25C3.05109 20.2505 2.86032 20.1715 2.71967 20.0308C2.57902 19.8902 2.5 19.6994 2.5 19.5005V3.00049C2.5 2.80158 2.57902 2.61081 2.71967 2.47016C2.86032 2.32951 3.05109 2.25049 3.25 2.25049H13C13.1989 2.25049 13.3897 2.17147 13.5303 2.03082C13.671 1.89017 13.75 1.6994 13.75 1.50049C13.75 1.30158 13.671 1.11081 13.5303 0.970158C13.3897 0.829506 13.1989 0.750488 13 0.750488H3.25C2.65326 0.750488 2.08097 0.987541 1.65901 1.4095C1.23705 1.83145 1 2.40375 1 3.00049V19.5005Z"
                                              fill="#777777" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    }                
                </div>
            }
        </div>
    </div>
</section>

<script>
        const ativarDropdown = document.querySelectorAll(`.linha`)
        let dropdown = document.querySelectorAll(`.tabela-item-body`)

        for (let i = 0; i < ativarDropdown.length; i++) {
            ativarDropdown[i].addEventListener(`click`, () => {
                dropdown[i].classList.toggle(`ativo`)
                const btnEditar = document.querySelectorAll(`#editar`)
                for (let i = 0; i < btnEditar.length; i++) {
                    btnEditar[i].addEventListener(`click`, () => {
                        inputs = document.querySelectorAll(`.lista-tela .lista-tela--conteudo .tabela-item .tabela-item-body.ativo .dropdown .dropdown-inputs input, .lista-tela .lista-tela--conteudo .tabela-item .tabela-item-body.ativo .dropdown .dropdown-inputs textarea`)

                        for (let i = 0; i < inputs.length; i++) {
                            inputs[i].disabled = false;

                        }
                    });

                }
            });
        }
</script>
