@model DragonSushiSystem.ViewModels.ViewModelReserva

@{
    ViewBag.Title = "Editar reserva";
}
<div class="nova-reserva" style="margin-left:100px">
    <p class="titulo-reserva">
        Editar reserva
    </p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Reserva.ReservaID)

        <div class="radiobox-periodos">
            <div class="radio-inline">
                @Html.RadioButtonFor(model => model.Reserva.ReservaPeriodo, "Almoço")
                <p>Almoço</p>
                @Html.RadioButtonFor(model => model.Reserva.ReservaPeriodo, "Jantar")
                <p>Jantar</p>
            </div>
        </div>
        <select name="Reserva.FK_ClienteID" id="">
            @for (int i = 0; i < Model.listaClientes.Count; i++)
            {
                if (Model.Cliente.ClienteID == Model.listaClientes[i].ClienteID)
                {
                    <option selected value="@Model.listaClientes[i].ClienteID">@Model.listaClientes[i].ClienteTelefone</option>
                }
                else
                {
                    <option value="@Model.listaClientes[i].ClienteID">@Model.listaClientes[i].ClienteTelefone</option>
                }

            }
        </select>
        @Html.EditorFor(model => model.Reserva.FK_MesaID)

        @Html.EditorFor(model => model.Reserva.ReservaData)

        @Html.EditorFor(model => model.Reserva.ReservaNumeroPessoas)
        <div class="buttons">
                <a href="@Url.Action("DeletarReserva", "ViewModelReserva", new { id = Model.Reserva.ReservaID })" class="btnVermelho">Deletar</a>
                <button type="submit" class="btnVerde">Salvar</button>
        </div>
    }
</div>