@model IEnumerable<DragonSushiSystem.ViewModels.ViewModelReserva>
@{
    ViewBag.Title = "Reserva";
}
<section class="reserva-section">
    <div class="container">
        <div class="escolher-data">
            @{
                DateTime data = DateTime.Now;
            }
            <button type="submit" value="@{data = data.AddDays(-1);}">
                <svg width="24" height="24" id="esquerda" viewBox="0 0 40 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.66384 0L0 1.66384L14.4531 16.117L15.2845 16.9113L16.1158 16.117L30.5689 1.66384L28.9062 0.00115561L15.2856 13.6218L1.66384 0Z"
                          fill="#000" />
                </svg>
            </button>
            <p class="data" name="txtData">@data.ToString("dddd, dd MMMM")</p>
            <button type="submit" value="@{data = data.AddDays(1);}">
                <svg width="24" height="24" id="direita" viewBox="0 0 22 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.66384 0L0 1.66384L14.4531 16.117L15.2845 16.9113L16.1158 16.117L30.5689 1.66384L28.9062 0.00115561L15.2856 13.6218L1.66384 0Z"
                            fill="#000" />
                </svg>
            </button>
        </div>
        <div class="mesas-container">
            @{
                foreach (var item in Model)
                {
                    var subitem = item.listaReservas;

                    var mesas = item.listaMesas.Count();

                    List<int> mesasreservadas = new List<int>();

                    foreach (var reserva in subitem)
                    {
                        mesasreservadas.Add(reserva.FK_MesaID);
                    }

                    for (int i = 1; i <= mesas; i++)
                    {
                        if (mesasreservadas.Contains(i))
                        {
                            <a class="mesa ocupada" id="mesa-@i">@i</a>
                        }
                        else
                        {
                            <a class="mesa livre" id="mesa-@i">@i</a>
                        }
                    }
                }
            }
        </div>
        <div class="lateral">
            <div class="detalhes-dia">
                <p class="filtros-titulo">Reservas do dia:</p>
                <div class="container-mesas-reservadas">
                    @foreach (var item in Model)
                    {
                        if (item.Reserva.ReservaID != 0)
                        {
                            <a href="~/ViewModelReserva/EditarReserva/@item.Reserva.ReservaID">
                                <div class="card-mesa-reservada">
                                    <div class="header almoco">
                                        <p>@item.Reserva.ReservaPeriodo</p>
                                    </div>
                                    <div class="content">
                                        <p>@item.Cliente.ClienteNome</p>
                                        <p>Mesa @item.Mesa.MesaID</p>
                                        <p>@item.Reserva.ReservaNumeroPessoas pessoas</p>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <a class="btn-add" href="~/ViewModelReserva/CadastrarReserva">
        <div class="btn-add__linha"></div>
    </a>
</section>

<script>
    const expandirCard = document.querySelector('.btn-add')

    expandirCard.addEventListener(`click`, () => {
        expandirCard.classList.toggle('btn-add-aberto');
    })
</script>

<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();
    });

    function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-add").click(function () {
            var id = $(this).data('value');
            $("#conteudoDeletar").load("/ViewModelReserva/CadastrarReserva",
                function () {

                    $("#myModal").modal("show");
                }
            )
        });
    });
</script>
