@model DragonSushiSystem.Models.Funcionario

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioSenha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioCPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioCPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioNumeroEndereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioNumeroEndereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioComplemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioComplemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioTelefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioTelefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_CargoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_CargoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NovaSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NovaSenha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmacaoNovaSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmacaoNovaSenha)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
