@model IEnumerable<DragonSushiSystem.ViewModels.ViewModelFuncionario>

@{
    ViewBag.Title = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<section class="tela-lista-section funcionario-index">
    <nav class="menu-vertical funcionario">
        <a class="menu-vertical--links" href="@Url.Action("CadastrarFuncionario", "ViewModelFuncionario")">Cadastrar Funcionário</a>
        <a class="menu-vertical--links atual" href="@Url.Action("ListarFuncionario", "ViewModelFuncionario")">Consultar Funcionário</a>
    </nav>
    <div class="lista-table funcionario">
        <div class="lista-index-table funcionario-table">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Cargo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Funcionario.FuncionarioID</td>
                            <td>@item.Funcionario.FuncionarioNome</td>
                            <td>@item.Funcionario.FuncionarioTelefone</td>
                            <td>@item.Cargo.CargoNome</td>
                            <td><button class="btnAzul btnEditar">@Html.ActionLink("Editar", "EditarFuncionario", new { id = item.Funcionario.FuncionarioID })</button></td>
                            <td>
                                @*<a href="@Url.Action("DeletarFuncionario", "ViewModelFuncionario", new { id = item.Funcionario.FuncionarioID } )" type="button" class="btnVermelho" data-toggle="modal" >Deletar</a>-->*@
                                <button type="button" class="btnVermelho" data-value="@item.Funcionario.FuncionarioID">Deletar</button>
                                <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("DeletarFuncionario", "ViewModelFuncionario", new { id = item.Funcionario.FuncionarioID } )'></div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="conteudoDeletar">
        
        </div>
    </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btnVermelho").click(function () {
            var id = $(this).data('value');
            $("#conteudoDeletar").load("/ViewModelFuncionario/DeletarFuncionario/"+id,
                function(){
                    $("#myModal").modal("show");
                }
            )
        });
    });
</script>