@model IEnumerable<DragonSushiSystem.ViewModels.ViewModelComanda>

@{
    ViewBag.Title = "Lista de Comandas Abertas";
}

<section class="comanda-index-section"> 

    <a href="@Url.Action("CadastrarComanda", "ViewModelComanda")" class="btn-add">
        <div class="btn-add__linha"></div>
    </a>

    <div class="grid-comanda">

        @foreach (var item in Model)
        {
            if (item.Comanda.ComandaID != 0)
            {
                <a href="@Url.Action("ComandaDetalhes", "ViewModelPedido", new { id = item.Comanda.ComandaID })">
                    <div class="card-comanda">
                        <div class="numero-comanda">
                            @item.Comanda.ComandaID
                        </div>
                        <div class="identif-comanda">
                            @if (item.Cliente.ClienteNome != null)
                            {
                                @item.Cliente.ClienteNome
                            }
                            @if (item.Mesa.MesaID != 0)
                            {
                                <p>Mesa @item.Mesa.MesaID</p>
                            }
                        </div>

                    </div>
                </a>
            }
        }
            
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
</script>

<script>
        const expandirCard = document.querySelector('.btn-add')
        const novoCard = document.querySelector(`.adicionar-comanda`)
        let novoCardAberto = false;

        expandirCard.addEventListener(`click`, () => {
            novoCard.classList.toggle('adicionar-comanda-aberto');
            expandirCard.classList.toggle('btn-add-aberto');
        })
</script>
